#root {
  margin: 0 auto;
  text-align: center;
}


@media (max-width: 480px){
  #root{
    height: 100vh;

  }
  input{
    top: 0;
    width: 100px;
  }
  buttons{
    top: 0;
    font-size: 16px;
    padding: auto;
  }
  footer{
    font-size: 15px;

  }

}